@mixin desc{
  width: 100%;
  font-size: 13px;
  text-align: center;
  margin: 10px auto;
}



  .app__wraper_helper{
      display: block;
      margin:25px auto;
      @media screen and (min-width: 380px) and (max-width: 890px) {
        margin:  0 auto;
      }
      @media screen and (min-width: 1024px) and (max-width: 1440px) {
        margin:0 auto;
      }
      .buy{
          display: none;
          @include desc;
          transition: 1s;
          @media screen and (min-width: 478px) and (max-width: 780px) {
            font-size: 18px;
          }
          span{
            color:#1698d9;
            cursor: pointer;

          }
        }
      .description__text{
          display: block;
          @include desc;
          opacity: 1;
          animation: bottom .5s ease-in-out;
          @media screen and (min-width: 414px) and (max-width: 780px) {
            font-size: 16px;
            margin: 10px auto;
          }
        &-missed{
            display: block;
            @include desc;
            opacity: 1;
            transition: opacity 0.5s;
            @media screen and (min-width: 478px) and (max-width: 780px) {
              font-size: 18px;
            }
          }
        }
      &:hover{
        cursor: pointer;
          .description__text{
            display: none;
            opacity: 0;
            transition: .5s;
            animation:disapear .5s ease-in-out;
            @keyframes disapear {
              0%{
                opacity: 1;
              }100%{
                opacity: 0;
              }
            }
          }
          .buy{
            display: block;
            transition: 0.5s;
            animation: bottom .5s ease-in-out;
          }
          @keyframes bottom {
            0%{
              opacity: 0;
            }100%{
              opacity: 1;
            }
          }
        }
        &:nth-child(2){
          .app__wraper_helper-item{
          border:3px solid #d91667;
          &:first-child{
          border:3px solid #d91667;
          }
          &:before{
            background-color: #d91667;
          }
          span{
            background-color: #d91667;
          }
        }
      }
       &:nth-child(3){
          .app__wraper_helper-item{
          border:3px solid #FFF44B;
          &:first-child{
          border:3px solid #FFF44B;
          }
          &:before{
            background-color:#FFF44B ;
          }
          span{
            background-color: #FFF44B;
          }
        }
      }

      &-item{
        display: block;
        width: 320px;
        height:auto;
        margin:0 auto;
        position:relative;
        border:3px solid #1698d9;
        shape-outside: polygon(0 9%, 14% 0, 100% 0, 100% 100%, 0 100%, 0% 50%);
        clip-path: polygon(0 9%, 14% 0, 100% 0, 100% 100%, 0 100%, 0% 50%);
        border-radius: 13px;
        overflow: visible;
         @keyframes selectEffect {
            0%{transform:rotateZ(.5deg);}
            25%{transform:rotateZ(-.5deg);}
            50%{transform:rotateZ(.5deg);}
            75%{transform:rotateZ(-.5deg);}
            90%{transform:rotateZ(.5deg);}
            100%{transform:rotateZ(0deg);}
          }
        &:before{
             display: block;
          content: " ";
          width: 35%;
          height: 4px;
          background-color:#1698d9;
          position: relative;
          top:2px;
          left:-19px;
          transform: rotateZ(-44deg);
          z-index:9999;
        }
        p{
          font-size: 16px;
          width: 100%;
          text-align: left;
          margin:0;
          color:#666666;
        }
        &Text{
          text-align: left;
          display: block;
          width: 70%;
          height: 480px;
          padding: 0 15%;
          margin-top: -4px;
          text-align: left;
          color: black;
          background: url(../../dist/kot.png) bottom no-repeat  ;
          background-size: 100%;
          background-position:-25px 250px;
          background-color: white;
          border-radius: 10px;
          animation: none;
           .weight{
            display: inline-block;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #1698d9;
            text-align: center;
            vertical-align: middle;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            bottom: 10px;
            right: 13px;
            font-size: 20px;
            cursor:text;
            z-index:9999;
              color: white;
            p{
              width: 100%;
              text-align: center;
              font-size: 42px;
              margin-top:7px;
              color: inherit;
            }

        } 
          h1{
              font-family: 'Trebuchet MS',sans-serif;
              margin: 0;
              font-weight: 900;
            }
            p:nth-child(2){
              font-size: 42px;
              font-weight: 600;
              color: black;
            }
            p:nth-child(3){
              margin:auto;
              font-weight: bold;
              font-size: 18px;
              font-family: 'Trebuchet MS',sans-serif;
              color: black;
              cursor:text;
            }
            p:nth-child(4){
              margin:25% auto 0 auto;
              font-size: 14px;
              text-align: left;
              cursor:text;
            }

        }
      }
    }