html, body {
  margin: 0;
  padding: 0; }

.app {
  display: block;
  width: 100%;
  height: auto;
  background: url(../../dist/Pattern.png) center no-repeat;
  background-size: cover;
  font-family: "Trebuchet MS" ,sans-serif; }
  .app h4 {
    color: white;
    text-align: center;
    margin: 0 0 24px 0;
    padding: 47px 0 0 0;
    font-size: 36px;
    font-weight: 100;
    font-family: "Exo2.0" ,sans-serif; }
    @media screen and (max-width: 1024px) {
      .app h4 {
        font-size: 25px; } }
  .app .selected {
    display: block;
    width: auto;
    position: absolute;
    z-index: 9999;
    top: 20px;
    right: 20px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: height 1s;
    transition: height 1s; }
    .app .selected ul {
      color: black;
      margin: 0;
      padding: 0;
      list-style: none;
      -webkit-animation: selected 1s ease-in-out;
              animation: selected 1s ease-in-out; }
  .app__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    color: white; }
    .app__wraper_helper {
      display: block;
      width: 320px; }
      .app__wraper_helper .buy {
        display: none;
        font-size: 12px;
        text-align: center;
        margin: -10px auto -14px auto;
        opacity: 0;
        -webkit-transition: 1s;
        transition: 1s; }
        .app__wraper_helper .buy span {
          color: #1698d9;
          cursor: pointer; }
      .app__wraper_helper .description__text {
        display: block;
        text-align: center;
        font-size: 12px;
        margin: -10px auto 50px auto;
        opacity: 1;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s; }
        .app__wraper_helper .description__text_missed {
          display: block;
          text-align: center;
          font-size: 12px;
          margin: -10px auto 50px auto;
          opacity: 1;
          -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s; }
      .app__wraper_helper:hover .description__text {
        display: none;
        opacity: 0;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
      .app__wraper_helper:hover .buy {
        display: block;
        opacity: 100;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
      .app__wraper_helper:nth-child(2) .app__wraper_helper-item:first-child {
        border: 3px solid #d91667; }
        .app__wraper_helper:nth-child(2) .app__wraper_helper-item:first-child:before {
          background-color: #d91667; }
        .app__wraper_helper:nth-child(2) .app__wraper_helper-item:first-child span {
          background-color: #d91667; }
      .app__wraper_helper:nth-child(3) .app__wraper_helper-item:first-child {
        border: 3px solid #FFF44B; }
        .app__wraper_helper:nth-child(3) .app__wraper_helper-item:first-child:before {
          background-color: #FFF44B; }
        .app__wraper_helper:nth-child(3) .app__wraper_helper-item:first-child span {
          background-color: #FFF44B; }
      .app__wraper_helper-item {
        display: block;
        width: 320px;
        height: auto;
        margin: 0 auto 20px auto;
        position: relative;
        border: 3px solid #1698d9;
        shape-outside: polygon(0 9%, 14% 0, 100% 0, 100% 100%, 0 100%, 0% 50%);
        -webkit-clip-path: polygon(0 9%, 14% 0, 100% 0, 100% 100%, 0 100%, 0% 4%);
                clip-path: polygon(0 9%, 14% 0, 100% 0, 100% 100%, 0 100%, 0% 4%);
        border-radius: 5px;
        overflow: visible; }
        .app__wraper_helper-item p {
          width: 150%;
          text-align: left;
          margin: 0;
          color: #666666; }
        .app__wraper_helper-item:before {
          display: block;
          content: " ";
          width: 35%;
          height: 4px;
          background-color: #1698d9;
          position: relative;
          top: 3px;
          left: -19px;
          -webkit-transform: rotateZ(-44deg);
                  transform: rotateZ(-44deg); }
        .app__wraper_helper-itemText {
          text-align: left;
          display: block;
          width: 50%;
          height: 480px;
          padding: 0 25%;
          margin-top: -4px;
          text-align: left;
          color: black;
          background: url(../../dist/kot.png) bottom no-repeat;
          background-size: 100%;
          background-position: 0 220px;
          background-color: white; }
          .app__wraper_helper-itemText .weight {
            display: inline-block;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #1698d9;
            text-align: center;
            vertical-align: middle;
            font-size: 18px;
            font-weight: bold;
            position: absolute;
            bottom: 10px;
            right: 13px;
            font-size: 20px; }
            .app__wraper_helper-itemText .weight p {
              width: 100%;
              text-align: center;
              font-size: 42px;
              margin-top: 7px;
              color: black; }
          .app__wraper_helper-itemText h1 {
            font-family: 'Trebuchet MS',sans-serif;
            margin: 0;
            font-weight: 900; }
          .app__wraper_helper-itemText p:nth-child(3) {
            margin: auto;
            font-weight: bold;
            font-size: 18px;
            font-family: 'Trebuchet MS',sans-serif;
            color: black; }
          .app__wraper_helper-itemText p:nth-child(4) {
            margin: 25% auto 0 auto;
            font-size: 14px;
            text-align: left; }
        .app__wraper_helper-item img {
          width: 100%;
          height: auto;
          position: relative;
          bottom: -60px;
          right: 0;
          padding-bottom: 5px;
          border-radius: 10px;
          -webkit-animation: picture 1s ease-in-out;
                  animation: picture 1s ease-in-out;
          -webkit-transition: 1s;
          transition: 1s; }
@-webkit-keyframes picture {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes picture {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */